<section #sliderBallot class="blockIsue loading-image">
  <div class="blockContent__inner">
    <div class="infiniteSlider">
      <div class="infiniteSlider__col">
        <picture>
          <source srcset="/assets/images/image-animation/card-group1@1x.png,
                          /assets/images/image-animation/card-group1@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group1-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group1-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/image-animation/card-group1@1x.png,
                          /assets/images/image-animation/card-group1@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group1-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group1-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
      <div class="infiniteSlider__col">
        <picture>
          <source srcset="/assets/images/image-animation/card-group2@1x.png,
                          /assets/images/image-animation/card-group2@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group2-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group2-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/image-animation/card-group2@1x.png,
                          /assets/images/image-animation/card-group2@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group2-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group2-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
      <div class="infiniteSlider__col">
        <picture>
          <source srcset="/assets/images/image-animation/card-group3@1x.png,
                          /assets/images/image-animation/card-group3@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group3-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group3-mobile@2x.png 2x"
                alt="ballot">
        </picture>
        <picture>
          <source srcset="/assets/images/image-animation/card-group3@1x.png,
                          /assets/images/image-animation/card-group3@2x.png 2x"
                  media="(min-width: 767px)">
          <img  src="/assets/images/image-animation/card-group3-mobile@1x.png"
                srcset="/assets/images/image-animation/card-group3-mobile@2x.png 2x"
                alt="ballot">
        </picture>
      </div>
    </div>
  </div>
</section>
