<div class="calculator">
  <div class="calculator--head">
    <input type="text" value="{{passwordEnter}}">

    <div class="mask">
      <mat-icon [style.color]="item.isHide ? 'transparent' : '#fff'"
                *ngFor="let item of maskList">
                {{item.text}}
      </mat-icon>
    </div>

    <div class="secure">
      <span *ngFor="let item of password; let i = index"
            [class.hide]="isPassowrEnd"
            [style.color]="maskList[i].text === 'lens' && !maskList[i].isHide ? 'transparent' : '#fff'">
            {{item}}
      </span>
    </div>
  </div>

  <div class="calculator--body">

    <button class="calculator__btn btn-1" (click)="selectedBtn('7')">7</button>

    <button class="calculator__btn btn-2" (click)="selectedBtn('8')">8</button>

    <button class="calculator__btn btn-3" (click)="selectedBtn('9')">9</button>

    <button class="calculator__btn btn-4" (click)="selectedBtn('4')">4</button>

    <button class="calculator__btn btn-5" (click)="selectedBtn('5')">5</button>

    <button class="calculator__btn btn-6" (click)="selectedBtn('6')">6</button>

    <button class="calculator__btn btn-7" (click)="selectedBtn('1')">1</button>

    <button class="calculator__btn btn-8" (click)="selectedBtn('2')">2</button>

    <button class="calculator__btn btn-9" (click)="selectedBtn('3')">3</button>

    <button class="calculator__btn btn-10" (click)="selectedBtn('B')" [disabled]="!isDeleteBtnActive">
      <mat-icon>backspace</mat-icon>
    </button>

    <button class="calculator__btn btn-11" (click)="selectedBtn('0')">0</button>

    <button class="calculator__btn btn-12"  (click)="selectedBtn('00')" [disabled]="!isZeroBtnDisabled">00</button>

  </div>
</div>
