<div class="wrapHeader">
  <div class="container">
    <ul>
      <li><a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/sliders" [routerLinkActive]="['active']">Sliders</a></li>
      <li><a routerLink="/tables" [routerLinkActive]="['active']">Tables</a></li>
      <li><a routerLink="/bulletin-issue" [routerLinkActive]="['active']">Bulletin issue</a></li>
      <li><a routerLink="/pagination" [routerLinkActive]="['active']">Pagination</a></li>
      <li><a routerLink="/service" [routerLinkActive]="['active']">Animation Service</a></li>
      <li><a routerLink="/forms" [routerLinkActive]="['active']">Forms</a></li>
      <li><a routerLink="/svg" [routerLinkActive]="['active']">SVG</a></li>
    </ul>
  </div>
</div>
