<div class="container flex_column">
  <h1 class="center">Example animations</h1>

  <hr class="w100">

  <div class="progressServices__wrapper">
    <div class="progressServices v1">
      <img src="/assets/images/img-server@1x.png" srcset="/assets/images/img-server@2x.png 2x"
        alt="Arquitectura Elástica">

      <div #progressServices>
        <!-- start list 1 -->
        <ul class="progressServices__list progressServices__list-1">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 1 -->

        <!-- start list 2 -->
        <ul class="progressServices__list progressServices__list-2">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 2 -->

        <!-- list 3 -->
        <ul class="progressServices__list progressServices__list-3">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 3 -->

        <!-- list 4 -->
        <ul class="progressServices__list progressServices__list-4">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 4 -->

        <!-- list 5 -->
        <ul class="progressServices__list progressServices__list-5">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 5 -->

        <!-- list 6 -->
        <ul class="progressServices__list progressServices__list-6">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 6 -->

        <!-- list 7 -->
        <ul class="progressServices__list progressServices__list-7">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 7 -->

        <!-- list 8 -->
        <ul class="progressServices__list progressServices__list-8">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 8 -->

        <!-- list 9 -->
        <ul class="progressServices__list progressServices__list-9">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 9 -->

        <!-- list 10 -->
        <ul class="progressServices__list progressServices__list-10">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 10 -->

        <!-- list 11 -->
        <ul class="progressServices__list progressServices__list-11">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 11 -->

        <!-- list 12 -->
        <ul class="progressServices__list progressServices__list-12">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <!-- //list 12 -->

      </div>
    </div>

    <div class="progressServices v2">
      <img src="/assets/images/img-server@1x.png" srcset="/assets/images/img-server@2x.png 2x"
        alt="Arquitectura Elástica">

      <!-- start list 1 -->
      <ul class="progressServices__list progressServices__list-1">
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 1 -->

      <!-- start list 2 -->
      <ul class="progressServices__list progressServices__list-2">
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="red"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 2 -->

      <!-- list 3 -->
      <ul class="progressServices__list progressServices__list-3">
        <li class="red"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 3 -->

      <!-- list 4 -->
      <ul class="progressServices__list progressServices__list-4">
        <li class="red"></li>
        <li class="red"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 4 -->

      <!-- list 5 -->
      <ul class="progressServices__list progressServices__list-5">
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 5 -->

      <!-- list 6 -->
      <ul class="progressServices__list progressServices__list-6">
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 6 -->

      <!-- list 7 -->
      <ul class="progressServices__list progressServices__list-7">
        <li class="red"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 7 -->

      <!-- list 8 -->
      <ul class="progressServices__list progressServices__list-8">
        <li class="red"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 8 -->

      <!-- list 9 -->
      <ul class="progressServices__list progressServices__list-9">
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 9 -->

      <!-- list 10 -->
      <ul class="progressServices__list progressServices__list-10">
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 10 -->

      <!-- list 11 -->
      <ul class="progressServices__list progressServices__list-11">
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="red"></li>
        <li class="red"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- //list 11 -->

      <!-- list 12 -->
      <ul class="progressServices__list progressServices__list-12">
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="light-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class="dark-blue"></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <!-- //list 12 -->
    </div>
  </div>
</div>
